body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif !important; }

#password-toolbar {
  background-color: #f5e79e;
  border-bottom: 1px;
  border-left: 1px;
  padding: 10px;
  border-right: 1px;
  height: 30px;
  font-size: 14px;
  /*left: 50%;
  margin-left: -150px;*/ }
  #password-toolbar .toolbar-text {
    float: left;
    display: inline-block;
    margin-top: 5px;
    width: calc(100% - 350px );
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #password-toolbar .passman-btn {
    float: right;
    display: inline-block;
    padding: 0 12px;
    line-height: 30px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background: #3498db;
    color: #fff;
    margin-right: 15px;
    border: 1px solid transparent;
    border-radius: 4px; }
    #password-toolbar .passman-btn .caret-container {
      border-bottom: 1px #fff dashed; }
  #password-toolbar .passman-btn:hover {
    background: #3cb0fd;
    text-decoration: none; }
  #password-toolbar .select_account {
    position: absolute;
    top: 45px;
    color: #333;
    width: 160px;
    right: 49px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 5px 0; }
    #password-toolbar .select_account .account {
      display: block;
      padding: 3px 5px 3px 10px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
      text-align: left; }
      #password-toolbar .select_account .account:hover {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5; }
