@import "bourbon/bourbon";

body {
  font-family: "Open Sans", Frutiger, Calibri, "Myriad Pro", Myriad, sans-serif;
  background-color: #0082c9;
  color: #fff;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

#mainPopup {
  padding: 10px;
  min-height: 260px;
  overflow-y: auto;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  .pwcontainer{
    max-height: 195px;
    overflow: auto;
    /*padding-right: 15px;*/
    .credential {
      border: 1px solid #fff;
      margin-bottom: 0.3em;
      float: left;
      width: 100%;
      padding: 5px;
    }
  }

  .footer {
    background: #fff;
    height: 50px;
    position: absolute;
    bottom: 0;
    margin-left: -10px;
    width: 100%;
    color: #000;
    @include background(linear-gradient(#fff, #ddd));
    
    small {
      width: 100%;
      display: block;
      text-align: center;
    }
    .bottomBtn {
      float: left;
      font-size: 18px;
      padding: 14px;
      cursor: pointer;
    }
    .bottomBtn:hover {
      /*background-color: #ddd;*/
      @include background(linear-gradient(#ddd, #fff));
      border: 1px solid #ccc;
    }
  }
}

.equalDivide {
  td {
    vertical-align: middle;
    padding: 3px;
  }
}

/*
.bottom {
  position: absolute;
  bottom: 0;
  height: 60px;
}*/

.ng-invalid {
  border-color: #a94442;
}

.alerts {
  li {
    list-style-type: none;
  }
}

input[type="password"], input[type="text"] {
  box-sizing: border-box;
  display: inline-block;
  height: 36px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 3px;
  padding: 7px 10px;
  font-size: 13px;
  cursor: auto;

}

.unlock {
  min-height: 275px;
  text-align: center;
  input[type="text"] {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  input[type="checkbox"]{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .error{
    padding: 5px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  .error.ng-hide{
    display: block;
    visibility: hidden;
  }
}

.setup {
  background-color: #0082c9;
  color: #fff;
  min-height: 350px;
  h2 {
    font-size: 18px;
  }
  label {
    display: block;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
  }
  input[type="text"], input[type="password"], select {
    display: block;
  }
  .btn {
    position: fixed;
    bottom: 15px;
    &.stepNext {
      right: 15px;
    }
  }
}

.angular-steps {
  position: relative;

  .step {
    position: absolute;
    z-index: 1;
    margin-top: -10px;
    margin-left: -10px;
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  .step.ng-hide {
    display: block !important;
    z-index: 0;
  }
}

/*
 * Animations (optional) - requires ngAnimate
 */
.angular-steps {
  .step.ng-hide-add,
  .step.ng-hide-remove {
    @include transition(all 0.6s ease-in-out);
    opacity: 1;
  }

  .step.ng-hide {
    opacity: 0;
  }
}

.nopadding {
  padding: 0;
}


.radial-progress {
  $circle-size : 25px;
  $circle-background : #d6dadc;
  $circle-color : #97a71d;
  $transition-length : 0.5s;
  display: inline-block;
  left: 10px;
  top: 6px;
  position: relative;
  width: $circle-size;
  height: $circle-size;

  background-color: $circle-background;
  border-radius: 50%;
  .circle {
    .mask, .fill {
      width: $circle-size;
      height: $circle-size;
      position: absolute;

      border-radius: 50%;

      @include transition(transform $transition-length);
      @include backface-visibility(hidden);
      
    }
    .mask {
      clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
      .fill {
        clip: rect(0px, $circle-size/2, $circle-size, 0px);
        background-color: $circle-color;
      }
    }
  }
}
.ng-hide{
  display: none;
}
.version{
  font-size: 12px;
  margin-right: 10px;
}
.searchContainer{
  margin-bottom: 15px;
}
.ignored_sites{
  padding: 0;
  li{
    list-style-type: none;
    padding: 0;
    .fa{
      margin-top: 2px;
      cursor: pointer;
    }
    .fa:hover{
      color: #a94442;
    }
  }
}