@import "tailwindcss";

/* Import svelte-sonner styles (workaround for build issue) */
@import './svelte-sonner-styles.css';

body {
    margin: 0;
}

.link {
    cursor: pointer;
    text-decoration-line: underline;
}
