<md-content layout="column" class="container" layout-fill>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="General">
            <md-content class="md-padding" ng-init="pwFieldShown = false;">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>{{'label' | translate}}</label>
                    <input ng-model="credential.label" required>
                    <copy-text text="credential.label"></copy-text>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{'username' | translate}}</label>
                    <input ng-model="credential.username"/>
                    <copy-text text="credential.username"></copy-text>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{'email' | translate}}</label>
                    <input ng-model="credential.email"/>
                    <copy-text text="credential.email"></copy-text>
                </md-input-container>

                <md-input-container class="md-block" ng-if="!pwFieldShown">
                    <label>{{'password' | translate}}</label>
                    <input type="password" ng-model="credential.password" style="width: 325px;" >
                    <md-icon class="pointer" ng-click="generatePassword()" style="left: initial; right: 35px;">refresh</md-icon>
                    <md-icon class="pointer" style="left: initial; right: 70px;" ng-click="togglePwField()">remove_red_eye</md-icon>
                    <copy-text text="credential.password"></copy-text>
                </md-input-container>

                <md-input-container class="md-block" ng-if="pwFieldShown">
                    <label>{{'password' | translate}}</label>
                    <input type="text" ng-model="credential.password" style="width: 325px;" >
                    <md-icon class="pointer" ng-click="generatePassword()" style="left: initial; right: 35px;">refresh</md-icon>
                    <md-icon class="pointer" style="left: initial; right: 70px;" ng-click="togglePwField()">remove_red_eye</md-icon>
                    <copy-text text="credential.password"></copy-text>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>{{'password_repeat' | translate}}</label>
                    <input type="password" ng-model="credential.password_repeat">
                </md-input-container>

                <md-input-container class="md-block" style="margin-bottom: -5px;">
                    <label>{{'url' | translate}}</label>
                    <input ng-model="credential.url"/>
                    <copy-text text="credential.url"></copy-text>
                </md-input-container>
            </md-content>
        </md-tab>
        <md-tab label="Custom fields">
            <md-content class="md-padding" style="overflow-x: hidden;">

                <div layout="row" layout-align="space-around" ng-repeat="custom_field in credential.custom_fields" ng-if="custom_field.field_type !== 'file'">
                    <md-input-container flex="40">
                        <label>Label</label>
                        <input required ng-model="custom_field.label">
                    </md-input-container>

                    <md-input-container flex="40" ng-if="!custom_field.secret">
                        <label>Value</label>
                        <input required ng-model="custom_field.value">
                    </md-input-container>

                    <md-input-container flex="40" ng-if="custom_field.secret">
                        <label>Value</label>
                        <input type="password" ng-model="custom_field.value">
                    </md-input-container>
                    <md-input-container flex="10">
                        <md-button class="md-secondary md-icon-button" ng-click="deleteCustomField(custom_field)"
                                   aria-label="call">
                            <md-tooltip md-direction="left">{{'delete' | translate}}</md-tooltip>
                            <md-icon>delete</md-icon>
                        </md-button>
                    </md-input-container>
                </div>
                <div layout="row">
                    Add custom field
                </div>
                <div layout="row" layout-align="space-around">

                    <md-input-container flex="25">
                        <label>Label</label>
                        <input ng-model="new_custom_field.label">
                    </md-input-container>

                    <md-input-container flex="25" ng-if="new_custom_field.field_type === 'text'">
                        <label>Value</label>
                        <input ng-model="new_custom_field.value">
                    </md-input-container>

                    <md-input-container flex="25" ng-if="new_custom_field.field_type === 'password'">
                        <label>Value</label>
                        <input type="password" ng-model="new_custom_field.value">
                    </md-input-container>

                    <md-input-container flex="25">
                        <label>Type</label>
                        <md-select name="type" ng-model="new_custom_field.field_type">
                            <md-option value="text">Text</md-option>
                            <md-option value="password">Password</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="10">
                        <md-button class="md-secondary md-icon-button" ng-click="addCustomField(new_custom_field)">
                            <md-icon>add_box</md-icon>
                            <md-tooltip md-direction="left">{{'add' | translate}}</md-tooltip>
                        </md-button>
                    </md-input-container>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>

    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-button class="md-raised md-primary" ng-click="saveCredential()" ng-disabled="saving"></span>{{'save' |
            translate}}
        </md-button>
        <md-button class="md-raised md-hue-1" ng-click="cancel()">{{'cancel' | translate}}</md-button>
    </div>
</md-content>