<div class="edit_credential">
    <div class="group">
        <copy-text text="credential.label"></copy-text>
        <input type="text" ng-model="credential.label" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'label' | translate}}</label>
    </div>
    <div class="group">
        <copy-text text="credential.username"></copy-text>
        <input type="text" ng-model="credential.username">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'username' | translate}}</label>
    </div>
    <div class="group">
        <copy-text text="credential.email"></copy-text>
        <input type="text" ng-model="credential.email">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{ 'email' | translate}}</label>
    </div>
    <div class="group pwField">
        <copy-text text="credential.password"></copy-text>
        <i class="mdi mdi-refresh pointer"  ng-click="generatePassword()"></i>
        <i class="pointer mdi" ng-class="{'mdi-eye': !pwFieldShown, 'mdi-eye-off': pwFieldShown}" ng-click="togglePwField()"></i>
        <input type="text" ng-model="credential.password" ng-if="pwFieldShown">
        <input type="password" ng-model="credential.password" ng-if="!pwFieldShown">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'password' | translate}}</label>
    </div>
    <div class="group">
        <input type="password" ng-model="credential.password_repeat">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'password_repeat' | translate}}</label>
    </div>
    <div class="group">
        <copy-text text="credential.url"></copy-text>
        <input type="text" ng-model="credential.url">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'url' | translate}}</label>
    </div>
    <button class="md-btn default" ng-click="saveCredential()" ng-disabled="saving">
        <span>{{'save' | translate}}</span>
    </button>
    <button class="md-btn" ng-click="cancel()">
        <span>{{'cancel' | translate}}</span>
    </button>
</div>
<!--
<table class="editCredential table">
    <tr>
        <td>{{'label' | translate}}</td>
        <td>
            <input type="text" ng-model="credential.label" required>
            <copy-text text="credential.label"></copy-text>
        </td>
    </tr>
    <tr>
        <td>{{'username' | translate}}</td>
        <td>
            <input type="text" ng-model="credential.username"/>
            <copy-text text="credential.username"></copy-text>
        </td>
    </tr>
    <tr>
        <td>{{'email' | translate}}</td>
        <td>
            <input type="text" ng-model="credential.email"/>
            <copy-text text="credential.email"></copy-text>
        </td>
    </tr>
    <tr>
        <td>{{'password' | translate}}</td>
        <td>
            <input type="text" ng-model="credential.password" ng-if="pwFieldShown">
            <input type="password" ng-model="credential.password" ng-if="!pwFieldShown">
            <i class="fa fa-refresh pointer"  ng-click="generatePassword()" style="left: initial; right: 35px;"></i>
            <i class="pointer fa" ng-class="{'fa-eye': !pwFieldShown, 'fa-eye-slash': pwFieldShown}" style="left: initial; right: 70px;" ng-click="togglePwField()"></i>
            <copy-text text="credential.password"></copy-text>
        </td>
    </tr>
    <tr>
        <td>{{'password_repeat' | translate}}</td>
        <td><input type="password" ng-model="credential.password_repeat"></td>
    </tr>
    <tr>
        <td>{{'url' | translate}}</td>
        <td>
            <input type="text" ng-model="credential.url"/>
            <copy-text text="credential.url"></copy-text>
        </td>
    </tr>
</table>

<table class="editCredential table">
    <tr ng-repeat="custom_field in credential.custom_fields" ng-if="custom_field.field_type !== 'file'">
        <td>
            <input required ng-model="custom_field.label" type="text">
        </td>
        <td>
            <input type="password" ng-model="custom_field.value" ng-if="custom_field.secret">
            <input type="text" ng-model="custom_field.value" ng-if="!custom_field.secret">
        </td>
    </tr>
</table>
<h4>Add custom field</h4>
<div class="col-xs-3 pad5">
    <input class="form-control" type="text" ng-model="new_custom_field.label" placeholder="Label">
</div>
<div class="col-xs-3 pad5">
    <input class="form-control" type="password" ng-model="new_custom_field.value" ng-if="new_custom_field.field_type === 'password'">
    <input class="form-control" type="text" ng-model="new_custom_field.value" ng-if="new_custom_field.field_type === 'text'" placeholder="Value">
</div>
<div class="col-xs-3 pad5">
    <select class="form-control" name="type" ng-model="new_custom_field.field_type">
        <option value="text">Text</option>
        <option value="password">Password</option>
    </select>
</div>
<div class="col-xs-3 pad5">
    <button class="btn btn-default" ng-click="addCustomField(new_custom_field)">
        <i class="fa fa-plus"></i>
    </button>
</div>
<div class="clearfix"></div>

<button class="btn btn-success" ng-click="saveCredential()" ng-disabled="saving">{{'save' |
    translate}}
</button>
<button class="btn btn-default" ng-click="cancel()">{{'cancel' | translate}}</button>
-->