<div class="list">
    <div class="list-item no-hover"  ng-show="!found_credentials">
        {{ 'no_credentials_found_for_site' | translate}}
    </div>
   <!-- <div ng-show="found_credentials.length > 0">{{'credentials_found_for_site' | translate:found_credentials.length.toString() }}</div> -->
    <div class="list-item" ng-repeat="credential in found_credentials">
        <div class="title">
            {{credential.label}}
        </div>
        <div class="info">
            {{credential.username}}
        </div>
        <div class="extra" ng-if="credential.otp.secret">
            {{'one_time_password' | translate}}: <div otp-generator secret="credential.otp.secret"></div>
        </div>
        <div class="edit" ng-click="editCredential(credential)">
            <div class="mdi mdi-pencil"></div>
        </div>

    </div>
</div>