<div layout="row" layout-align="center center" class="unlock-container">

    <div class="unlock">
        <div style="width: 100%; text-align: center; margin-bottom: 15px;">
            <img src="/icons/Passman_Color_Horizontal.png" height="40"/>
        </div>
        <div>
            <span >{{'extension_locked'| translate}}</span>
        </div>
        <div>
            <md-input-container style="width: 100%;">

                <input class="form-control" aria-label="password" type="password" ng-enter="apply_settings()" ng-model="master_password" style="width: 100%;"/>
            </md-input-container>
            <div class="clearfix"></div>

        </div>


    <div ng-show="inValidPassword" class="error">
        {{'invalid_master_password' | translate}}
    </div>

        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-button class="md-raised md-primary" ng-click="apply_settings()" ng-disabled="saving"></span>
                <i ng-show="saving"
                   ng-class="{'fa-spinner fa-spin': saving}"
                   class="fa"></i><i
                        ng-show="!saving" class="fa fa-unlock"></i>
                {{'unlock' | translate}}
            </md-button>

        </div>
        <br />
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-input-container>
                <md-checkbox class="md-primary" md-no-ink aria-label=" {{'remember_master_password'| translate}}" ng-model="master_password_remember">
                    {{'remember_master_password'| translate}}
                </md-checkbox>
            </md-input-container>
        </div>
    </div>
</div>