<div style="height: 400px">
    <div class="content unlock">
        <div>
            <img src="/icons/passman_logo.png" height="80"/>
            <div>{{'extension_locked'| translate}}:</div>
            <div class="group">
                <input autofocus type="password" ng-enter="apply_settings()" placeholder="{{'password' | translate}}"
                       ng-model="master_password">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>

        </div>

        <div class="md-checkbox checkbox-rotate">
            <label class="input-checkbox checkbox-lightBlue">
                <input type="checkbox" id="master_password_remember" ng-model="master_password_remember">
                <span class="checkbox"></span>
            </label>
            <label for="master_password_remember" class="label">{{'remember_master_password' | translate}}</label>
            <div class="master_pw_warning" ng-class="{'invisible': !master_password_remember }">
                {{'master_pw_warning' | translate}}
            </div>
        </div>
        <div class="master_pw_warning big" ng-class="{'invisible': !inValidPassword }">
            {{'invalid_master_password' | translate}}
        </div>
        <button class="md-btn default" ng-click="apply_settings()" ng-disabled="saving">
        <span><i ng-show="saving" ng-class="{'fa-spinner fa-spin': saving}" class="fa"></i><i ng-show="!saving"
                                                                                              class="fa fa-unlock"></i> {{'unlock' | translate}}</span>
        </button>

    </div>

</div>
