<div layout-padding>
    <md-input-container class="md-block">
        <label>{{'search_for' | translate }}</label>
        <input ng-model="searchText" ng-enter="search()">
    </md-input-container>
    <md-list class="password-list" ng-show="found_credentials.length > 0">
        <md-list-item class="md-3-line" ng-repeat="credential in found_credentials">
            <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}"/>-->
            <div class="md-list-item-text" layout="column">
                <h3>{{credential.label}}</h3>
                <h4>{{credential.username}}</h4>
                <p ng-if="credential.otp.secret">OTP: <span otp-generator secret="credential.otp.secret"></span></p>
            </div>
            <md-button class="md-secondary md-icon-button" ng-click="edit(credential)"  aria-label="call">
                <md-tooltip md-direction="left">{{'edit' | translate}}</md-tooltip>
                <md-icon>edit</md-icon>
            </md-button>
        </md-list-item>
    </md-list>
    <md-list-item ng-if="found_credentials.length === 0">
        <div class="md-list-item-text" layout="column">
            <h3>{{ 'no_credentials_found' | translate}}</h3>
        </div>
    </md-list-item>
</div>