<div class="edit_credential">
    <div class="searchContainer">
        <div class="group">
            <input type="text" autofocus ng-keypress="search()" auto-focus ng-model="searchText">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>{{'search_for' | translate }}</label>
        </div>

    </div>
</div>
<div class="list" style="padding-right: 15px;">
    <div class="list-item no-hover"  ng-show="found_credentials.length === 0">
        {{'no_credentials_found' | translate}}
    </div>

    <div class="list-item" ng-repeat="credential in found_credentials">
        <a href="{{credential.url}}" target="_blank" class="title" ng-if="credential.url">
            {{credential.label}}
        </a>
        <div href="{{credential.url}}" target="_blank" class="title" ng-if="!credential.url">
            {{credential.label}}
        </div>
        <div class="info">
            {{credential.username}}
        </div>
        <div class="extra" ng-if="credential.otp.secret">
            {{'one_time_password' | translate}}: <div otp-generator secret="credential.otp.secret"></div>
        </div>
        <div class="edit" ng-click="editCredential(credential)">
            <div class="mdi mdi-pencil"></div>
        </div>

    </div>
</div>