<div class="edit_credential">
    <div class="group">
        <input type="text" ng-model="settings.nextcloud_host"
               required ng-debounce="1000">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'server_url' | translate}}</label>
    </div>
    <div class="group">
        <input type="text" ng-model="settings.nextcloud_username"
               required ng-debounce="1000">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'username' | translate}}</label>
    </div>
    <div class="group">
        <input type="password" ng-model="settings.nextcloud_password"
               required ng-debounce="1000">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'password' | translate}}</label>
    </div>
    <div class="group">
        <select id="defaultVault" class="input-md" ng-model="settings.default_vault" required
                ng-options="vault.name for vault in vaults track by vault.guid"></select>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'select_default_vault' | translate}}</label>
    </div>
    <div class="group" ng-show="settings.default_vault != ''">
        <input type="password" ng-model="settings.vault_password"
               required ng-debounce="1000">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'vault_password' | translate}}</label>
    </div>
    <div class="group">
        <input type="text" ng-model="settings.refreshTime"
               required ng-debounce="1000">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'refresh_timer' | translate}}</label>
    </div>
    <div class="ignored_sites">
        <label>{{'ignored_sites' | translate}}</label>
        <ul class="ignored_sites">
            <li ng-repeat="site in settings.ignored_sites">{{site}} <i class="mdi mdi-delete pull-right"
                                                                       ng-click="removeSite(site)"></i></li>
            <li ng-show="settings.ignored_sites.length === 0">{{'no_sites_ignored' | translate}}</li>
        </ul>
        <div class="group" ng-show="settings.default_vault != ''">
            <input type="text"
                   ng-model="ignoreSite" ng-enter="addSite(ignoreSite)" placeholder="{{'ignore_site_placeholder' | translate}}">
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div class="group">
        <select id="firstTab" class="input-md" ng-model="settings.no_results_found_tab">
            <option value="list">List</option>
            <option value="search">Search</option>
            <option value="add">Add</option>
            <option value="generate">Generate</option>
        </select>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{'select_password_picker_default_tab' | translate}}</label>
    </div>
    <div class="switch-row">
        <input type="checkbox" id="ignore_protocol" ng-model="settings.ignoreProtocol" class="switch-input">
        <label for="ignore_protocol" class="switch-label">{{'ignore_protocol' | translate}}</label>
    </div>
    <div class="switch-row">
        <input type="checkbox" id="ignore_subdomain" ng-model="settings.ignoreSubdomain" class="switch-input">
        <label for="ignore_subdomain" class="switch-label">{{'ignore_subdomain' | translate}}</label>
    </div>
    <div class="switch-row">
        <input type="checkbox" id="ignore_port" ng-model="settings.ignorePort" class="switch-input">
        <label for="ignore_port" class="switch-label">{{'ignore_port' | translate}}</label>
    </div>
    <div class="switch-row">
        <input type="checkbox" id="ignore_path" ng-model="settings.ignorePath" class="switch-input">
        <label for="ignore_path" class="switch-label">{{'ignore_path' | translate}}</label>
    </div>
    <div class="switch-row">
        <input type="checkbox" id="disable_autofill" ng-model="settings.disableAutoFill" class="switch-input">
        <label for="disable_autofill" class="switch-label">{{'disable_autofill' | translate}}</label>
    </div>
    <div class="switch-row">
        <input type="checkbox" id="disable_browser_autofill" ng-model="settings.disable_browser_autofill" class="switch-input">
        <label for="disable_browser_autofill" class="switch-label">{{'disable_browser_autofill' | translate}}</label>
    </div>
    <div class="switch-row">
        <input type="checkbox" id="disable_password_picker" ng-model="settings.disablePasswordPicker" class="switch-input">
        <label for="disable_password_picker" class="switch-label">{{'disable_password_picker' | translate}}</label>
    </div>
    <div class="switch-row">
        <input type="checkbox" id="enable_debug" ng-model="settings.debug" class="switch-input">
        <label for="enable_debug" class="switch-label">{{'enable_debug' | translate}}</label>
    </div>
    <div class="clearfix"></div>
    <button class="md-btn default" ng-click="saveSettings()" ng-disabled="saving">
        <span>
            <i ng-show="saving"
               ng-class="{'fa-spinner fa-spin': saving}"
               class="fa"></i>
            {{'save' | translate}}
        </span>
    </button>
    <button class="md-btn" ng-click="cancel()">
        <span>{{'cancel' | translate}}</span>
    </button>
    <div class="version">
        {{extension}}
    </div>
</div>
