<div class="alerts alert alert-warning" ng-if="errors.length > 0">
    <li ng-repeat="error in errors">{{error}}</li>
</div>
<div layout-padding style="height: 520px; width: 500px;">
    <md-stepper id="setup-stepper" md-linear="false" md-vertical="true">
        <md-step md-label="{{'welcome_to_passman' | translate}}">
            <md-step-body>
                <p>{{'intro_text' | translate}}</p>
            </md-step-body>
            <md-step-actions>
                <md-button class="md-primary md-raised" ng-click="nextStep();">
                    <i ng-show="saving" ng-class="{'fa-spinner fa-spin': saving}" class="fa"></i>
                    Continue
                </md-button>
            </md-step-actions>
        </md-step>
        <md-step md-label="{{ 'server_settings' | translate}}" class="server_settings">
            <md-step-body style="overflow: hidden;">
                <md-input-container>
                    <label>{{'server_url' | translate}}</label>
                    <input ng-model="settings.nextcloud_host" required>
                </md-input-container>
                <md-input-container>
                    <label>{{'username' | translate}}</label>
                    <input ng-model="settings.nextcloud_username" required>
                </md-input-container>

                <md-input-container>
                    <label>{{'password' | translate}}</label>
                    <input type="password" ng-model="settings.nextcloud_password" required>
                </md-input-container>
            </md-step-body>
            <md-step-actions>
                <md-button class="md-primary md-raised" ng-click="nextStep('server');">
                    <i ng-show="saving" ng-class="{'fa-spinner fa-spin': saving}" class="fa"></i>
                    {{ 'continue' | translate}}
                </md-button>
                <md-button class="md-primary" ng-click="previousStep();">{{ 'back' | translate}}</md-button>
            </md-step-actions>
        </md-step>
        <md-step md-label="{{'vault_settings' | translate}}">
            <md-step-body style="overflow: hidden;">
                <md-input-container class="md-block" ng-if="vaults">
                    <label>{{'select_default_vault' | translate}}</label>
                    <md-select ng-model="settings.default_vault.guid">
                        <md-option ng-repeat="vault in vaults" value="{{vault.guid}}"
                                   ng-selected="settings.default_vault.vault_id === vault.vault_id">
                            {{vault.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'vault_password' | translate}}</label>
                    <input type="password" ng-model="settings.vault_password" required>
                </md-input-container>
            </md-step-body>
            <md-step-actions>
                <md-button class="md-primary md-raised" ng-click="nextStep('vault');">
                    <i ng-show="saving" ng-class="{'fa-spinner fa-spin': saving}" class="fa"></i>
                    {{ 'continue' | translate}}
                </md-button>
                <md-button class="md-primary" ng-click="previousStep();">{{ 'back' | translate}}</md-button>
            </md-step-actions>
        </md-step>
        <md-step md-label="{{ 'master_password' | translate}}">
            <md-step-body>
                <p>
                    {{'enter_master_password_desc' | translate}}
                </p>
                <md-input-container class="md-block">
                    <input type="password" ng-model="settings.master_password" aria-label="Master password" />
                </md-input-container>
                <md-input-container>
                    <md-checkbox class="md-primary" md-no-ink aria-label=" {{'remember_master_password'| translate}}" ng-model="settings.master_password_remember">
                        {{'remember_master_password'| translate}}
                    </md-checkbox>
                </md-input-container>
            </md-step-body>
            <md-step-actions>
                <md-button class="md-primary md-raised" ng-click="nextStep('master');">
                    <i ng-show="saving" ng-class="{'fa-spinner fa-spin': saving}" class="fa"></i>
                    {{ 'continue' | translate}}
                </md-button>
                <md-button class="md-primary" ng-click="previousStep();">{{ 'back' | translate}}</md-button>
            </md-step-actions>
        </md-step>

        <md-step md-label="{{'done' | translate}}">
            <md-step-body>
                <p>
                    {{'done_donate' | translate}}
                </p>
            </md-step-body>
            <md-step-actions>
                <md-button class="md-primary md-raised" ng-click="finished();">{{'finish' | translate}}</md-button>
                <md-button class="md-primary" ng-click="previousStep();">{{ 'back' | translate}}</md-button>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6YS8F97PETVU2" target="_blank"><md-button class="md-primary md-raised">{{'donate' | translate}}</md-button></a>
            </md-step-actions>
        </md-step>
        <!-- Other steps if needed ... -->
    </md-stepper>
</div>